* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;

}

.jumbotron {
	background-color: #20315A;
	color: white;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-family: 'EK Mukta Regular', sans-serif;
	font-weight: bold;
}	

.search-header {
	background-color: #20315A;
	color: white;
	padding: 5px;
	width: 100%;
	height: 50px;
}

h2 {
	margin-left: 15px;
	margin-top: 8px;
	font-family: 'EK Mukta Regular', sans-serif;
	font-weight: bold;
	font-size: 25px;
}


.form-section {
	border: 2px solid #20315A;
	border-radius: 5px;
	height: 540px;
	margin-top: 50px;
}

form {
	padding: 20px;
}

.form-group {
	margin-bottom: 0;
}

.search, .clear {
	background-color: #798D8F;
	border-radius: 5px;
	border: none;
	color: white;
	margin-top: 33px;
}

.search {
	height: 50px;
	width: 100px;
}

.clear {
	height: 50px;
	width: 130px;
}

.article-section {
	border: 2px solid #20315A;
	border-radius: 5px;
	margin-top: 50px;
	height: 500px;
}

.article-header {
	background-color: #20315A;
	color: white;
	padding: 5px;
	width: 100%;
	height: 50px;
}